@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-light dark:bg-background-dark text-text-primary-light dark:text-white font-sans;
  overscroll-behavior-y: none;
}

/* Sembunyikan scrollbar tapi tetap bisa scroll */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}